<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>io.github.x0c.standup-reminder</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ProgramArguments</key>
    <array>
      <string>__BIN_PATH__</string>
      <string>start</string>
    </array>

    <key>StandardOutPath</key>
    <string>__STATE_DIR__/launchagent.out.log</string>
    <key>StandardErrorPath</key>
    <string>__STATE_DIR__/launchagent.err.log</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>REMINDER_INTERVAL</key>
      <string>3600</string>
    </dict>
  </dict>
</plist>
